@use '../abstracts/_variables.sass' as vars
@use 'sass-mq' as *

#character-list a
    text-decoration: none
    color: var(vars.$palette-primary-dark)

.character-horizontal-card
    display: flex
    flex-direction: row
    align-items: start
    padding-left: 3rem
    border-radius: 10vmin
    background-color: rgba(255, 255, 255, 0.7)
    background-position: right
    background-repeat: no-repeat
    border: 5px solid #fff
    box-shadow: 0 0 1rem rgba(#000, 0.1)
    box-sizing: border-box
    transition: transform 0.2s
    margin-bottom: 2rem
    scroll-snap-align: start

    &:hover
        transform: scale(1.01)

    @include mq($from: mobile, $until: tablet)
        flex-direction: column
        padding-left: 1rem
        background-position-x: 20%

.character-horizontal-card__image-container
    display: flex
    justify-content: space-between
    align-items: center

    img
        margin-right: 2rem

    span
        color: var(vars.$palette-secondary-dark)
        font-size: 1.5rem

        @include mq($from: mobile, $until: tablet)
            display: none

    h1
        font-size: 2rem
        color: var(vars.$palette-primary-dark)
        padding: 0 1rem 0 0
        margin: 0 1rem 0 0
        border-right: 2px solid var(vars.$palette-secondary-dark)

        @include mq($from: mobile, $until: tablet)
            font-size: 1rem
            border: none

#character-preview-container
    padding: 0
    height: 100vh

    hr
        margin: 0
        border: 0
        border-top: 2px solid var(vars.$palette-secondary-light)
        margin-bottom: 2rem

#filters-top-menu
    padding: 2rem
    background-color: var(vars.$palette-secondary-dark)

#filters-and-search
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 1rem

    input
        color: var(vars.$palette-primary-dark)
        padding: 0.5rem
        @include mq($from: mobile, $until: tablet)
            margin-top: 0.5rem


    @include mq($from: mobile, $until: tablet)
        flex-direction: column

#character-list
    padding: 2rem
    overflow-y: scroll

::-webkit-scrollbar
    width: 12px

::-webkit-scrollbar-thumb
    background: var(vars.$palette-secondary-light)